.login {
    width: 25%;
    height: 270px;
    margin: 15px auto;
    border: 2px solid #DDDDDD;
}

.login h1 {
    text-align: center;
}

.login .container {
    width: 80%;
    margin: 0 auto;
}

.login .container .auth {
    margin-bottom: 0;
}

.login .mailaddress {
    width: 250px;
}

.login .password {
    width: 250px;
}

.login span {
    font-size: 14px;
    color: red;
}


