@charset 'utf-8';

#main {
    width: 100%;
    height: auto;
}

.top {
    display: flex;
    justify-content: flex-end;
}

.top .btn li {
    float: left;
    list-style: none;
}

.top .btn .signup {
    margin-bottom: 10px;
}
